{
    "AlarmName": "{{ if .AlarmPrefix }}{{.AlarmPrefix}} {{ end }}AWS/SQS DLQ ApproximateNumberOfMessagesVisible > 0 QueueName={{ .Resources.DLQName }}",
    "AlarmDescription": "This alarm helps to detect if there are messages in {{ .Resources.DLQName }}. For troubleshooting, check the reason that the producer is sending messages.",
    "ComparisonOperator": "GreaterThanThreshold",
    "Threshold": 0,
    "MetricName": "ApproximateNumberOfMessagesVisible",
    "Namespace": "AWS/SQS",
    "Statistic": "Sum",
    "Period": 60,
    "Dimensions": [{
        "Name": "QueueName",
        "Value": "{{ .Resources.DLQName }}"
    }],
    "EvaluationPeriods": 15,
    "DatapointsToAlarm": 15
}
