{
    "AlarmName": "{{ if .AlarmPrefix }}{{.AlarmPrefix}} {{ end }}AWS/SQS ApproximateNumberOfMessagesVisible > 100 QueueName={{ .Resources.QueueName }}",
    "AlarmDescription": "This alarm watches for the message queue backlog to be bigger than expected, indicating that consumers are too slow or there are not enough consumers.  Consider increasing the consumer count or speeding up consumers, if this alarm goes into ALARM state.",
    "ComparisonOperator": "GreaterThanThreshold",
    "Threshold": 100,
    "MetricName": "ApproximateNumberOfMessagesVisible",
    "Namespace": "AWS/SQS",
    "Statistic": "Sum",
    "Period": 60,
    "Dimensions": [{
        "Name": "QueueName",
        "Value": "{{ .Resources.QueueName }}"
    }],
    "EvaluationPeriods": 15,
    "DatapointsToAlarm": 15
}
